@model IEnumerable<CityWeather>
@inject IWeatherService weatherServiceInView;

@{
    List<CityWeather> cityWeatherInView = weatherServiceInView.GetCitiesWeatherList();
}

@foreach (CityWeather cityWeather in cityWeatherInView)
{
    if (cityWeather.TempCelsius < 7)
    {
        <div class="blue-back box flex-borderless w-25">
            <div class="w-50">
                <h3>@cityWeather.CityName</h3>
                <p>@cityWeather.DateAndTime?.ToString("hh:mm tt");</p>
                <a href="/details/@cityWeather.CityUniqueCode">Details</a>
            </div>
            <div class="border-left w-50">
                <h2 class="text-center">@cityWeather.TempCelsius&deg;C</h2>
            </div>
        </div>
    }
    else if (cityWeather.TempCelsius >= 7 && cityWeather.TempCelsius <= 24)
    {
        <div class="green-back box flex-borderless w-25">
            <div class="w-50">
                <h3>@cityWeather.CityName</h3>
                <p>@cityWeather.DateAndTime?.ToString("hh:mm tt");</p>
                <a href="/details/@cityWeather.CityUniqueCode">Details</a>
            </div>
            <div class="border-left w-50">
                <h2 class="text-center">@cityWeather.TempCelsius&deg;C</h2>
            </div>
        </div>
    }
    else
    {
        <div class="orange-back box flex-borderless w-25">
            <div class="w-50">
                <h3>@cityWeather.CityName</h3>
                <p>@cityWeather.DateAndTime?.ToString("hh:mm tt");</p>
                <a href="/details/@cityWeather.CityUniqueCode">Details</a>
            </div>
            <div class="border-left w-50">
                <h2 class="text-center">@cityWeather.TempCelsius&deg;C</h2>
            </div>
        </div>
    }
}
